:root {
	--color-blue-60: oklch(55% 0.24 260);
	--color-blue-70: oklch(48% 0.2 260);
	--color-cyan-20: oklch(83% 0.11 205);
	--color-cyan-30: oklch(76% 0.14 205);
	--color-white: #fff;
	--color-gray-05: #fbfbfe;
	--color-gray-80: #23222b;
	--color-gray-100: #15141a;
	--accent-color: var(--color-blue-60);
	--accent-color-hover: var(--color-blue-70);
	--background-color: var(--color-white);
	--text-color: var(--color-gray-100);
	--text-color-deemphasized: color-mix(in srgb, var(--text-color) 69%, transparent);
	--accent-text-color: var(--color-white);
	--border-color: color-mix(in srgb, var(--text-color) 20%, transparent);
}
* {
	box-sizing: border-box;
}
body {
	accent-color: var(--accent-color);
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: system-ui;
	font-size: 14px;
	margin: 0;
}
section {
	padding: 1em;
}
section + section {
	border-top: 1px solid var(--border-color);
}
section:last-of-type {
	display: flex;
	align-items: center;
}
h1, h2 {
	color: var(--text-color);
	font-size: 1.2em;
	margin: .5em 0;
}
a {
	color: var(--accent-color);
}
a:hover {
	color: var(--accent-color-hover);
}
th {
	color: var(--text-color);
	font-weight: normal;
	text-align: start;
	white-space: nowrap;
	&:only-of-type {
		padding-inline-end: .5em;
	}
}
td {
	color: var(--text-color-deemphasized);
}
dl.note {
	background-color: color-mix(in srgb, var(--text-color) 3.5%, transparent);
	border-radius: 8px;
	margin: .75em 0 .75em -1em;
	padding: .75em 1em;
	[data-browser="chrome"] & ul {
		padding-inline-start: 1em;
	}
	[data-browser="firefox"] & ul {
		padding-inline-start: 0;
	}
}
dt {
	color: var(--text-color);
	font-weight: bolder;
	dd + & {
		margin: 1em 0 .25em;
	}
}
dd {
	color: var(--text-color-deemphasized);
	[data-browser="chrome"] & {
		margin-inline-start: 1em;
	}
}
button {
	appearance: none;
	background-color: color-mix(in srgb, var(--text-color) 7%, transparent);
	border: 1px solid transparent;
	border-radius: 4px;
	color: var(--text-color);
	margin: 4px 8px;
	padding: .45em 1em;
	white-space: nowrap;
}
button:hover {
	background-color: color-mix(in srgb, var(--text-color) 14%, transparent);
}
button:disabled {
	opacity: .25;
	pointer-events: none;
}
button.primary {
	background-color: var(--accent-color);
	color: var(--accent-text-color);
}
button.primary:hover {
	background-color: var(--accent-color-hover);
}
label {
	display: inline-block;
	&:not(:last-of-type) {
		margin-inline-end: 1em;
	}
}
input[type="radio"] {
	height: 16px;
	width: 16px;
	vertical-align: -3px;
	&:not(:checked) {
		appearance: none;
		border: 1px solid var(--border-color);
		border-radius: 50%;
		&:hover {
			border-color: color-mix(in srgb, var(--text-color) 30%, transparent);
		}
	}
	& + span {
		padding-inline-start: .25em;
	}
}
input:checked + span {
	color: var(--text-color);
}
input:is(:not([type]), [type="text"], [type="url"]) {
	background-color: transparent;
	border: 1px solid currentColor;
	border-radius: 4px;
	color: inherit;
	padding: 4px;
	&:invalid {
		outline: 1px solid red;
	}
	&[name^="hotkey"] {
		text-align: center;
	}
	&[type="url"] {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: var(--color-cyan-30);
		--accent-color-hover: var(--color-cyan-20);
		--accent-text-color: var(--color-gray-100);
	}
	[data-browser="chrome"] {
		--background-color: #292a2d;
		--text-color: #c4c7c5;
	}
	[data-browser="firefox"] {
		--background-color: var(--color-gray-80);
		--text-color: var(--color-gray-05);
	}
}