<!DOCTYPE html>
<title>popupmenu</title>
<div id="yt-lcf-cb" class="ytp-menuitem" tabindex="0" role="menuitemcheckbox" aria-checked="undefined">
	<div class="ytp-menuitem-icon">
		<svg height="24" width="24" viewBox="-40 -40 80 80">
			<path d="M0,24Q8,24,24,23,31,22,31,19,32,12,32,0M0,24Q-8,24,-24,23,-31,22,-31,19,-32,12,-32,0M0,-24Q-8,-24,-24,-23,-31,-22,-31,-19,-32,-12,-32,0M0,-24Q8,-24,24,-23,31,-22,31,-19,32,-12,32,0" fill="none" stroke="white" stroke-width="3" />
			<g fill="white" transform="translate(0,10)">
				<path d="M4,-10l12,12h8l-12,-12,12,-12h-8z" />
				<circle r="3" />
				<circle cx="-10" r="3" />
				<circle cx="-20" r="3" />
			</g>
		</svg>
	</div>
	<div class="ytp-menuitem-label" data-i18n="ytp_menuitem_label_switch"></div>
	<div class="ytp-menuitem-content">
		<div class="ytp-menuitem-toggle-checkbox"></div>
	</div>
</div>
<div id="yt-lcf-pm" class="ytp-menuitem" tabindex="0" role="menuitem" aria-haspopup="true">
	<div class="ytp-menuitem-icon">
		<svg height="24" width="24" viewBox="-40 -64 108 108">
			<mask id="m">
				<path d="M-40-80h120v120h-120z" fill="white" />
				<circle r="9" />
			</mask>
			<path d="M0,24Q8,24,24,23,31,22,31,19,32,12,32,0M0,24Q-8,24,-24,23,-31,22,-31,19,-32,12,-32,0M0,-24Q-8,-24,-24,-23,-31,-22,-31,-19,-32,-12,-32,0" fill="none" stroke="white" stroke-width="4" />
			<g fill="white" transform="translate(0,10)">
				<circle cx="8" r="3" />
				<circle cx="-4" r="3" />
				<circle cx="-16" r="3" />
				<g transform="translate(32,-32) scale(1.25)" mask="url(#m)">
					<path id="p" d="M0,0L-10,-8L-6,-24Q0,-26,6,-24L10,-8L-10,8L-6,24Q0,26,6,24L10,8z" />
					<use xlink:href="#p" transform="rotate(60)" />
					<use xlink:href="#p" transform="rotate(120)" />
				</g>
			</g>
		</svg>
	</div>
	<div class="ytp-menuitem-label" data-i18n="ytp_menuitem_label_config"></div>
	<div class="ytp-menuitem-content"></div>
</div>
<div id="yt-lcf-pp" class="ytp-menuitem" tabindex="0" role="menuitem" aria-haspopup="true" hidden>
	<div class="ytp-menuitem-icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-30 -30 60 60">
			<g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round">
				<path d="M-16-12l8,8h-8h8v-8" stroke-width="2" />
				<path d="M-8,16h-12a4,4,0,0,1,-4,-4v-28a4,4,0,0,1,4,-4h40a4,4,0,0,1,4,4v12" stroke-width="3" />
			</g>
			<rect width="25" height="15" y="2" rx="2" ry="2" fill="#fff" />
		</svg>
	</div>
	<div class="ytp-menuitem-label" data-i18n="ytp_menuitem_label_pip"></div>
	<div class="ytp-menuitem-content"></div>
</div>