<!DOCTYPE html>
<template id=text>
	<div class=text>
		<span class=header>
			<a href target=_blank>
				<img class=photo part=photo loading=lazy>
			</a>
			<span class=name part=name></span>
		</span>
		<span class=body part=message></span>
	</div>
</template>
<template id=membership>
	<div class>
		<div class=header>
			<a href target=_blank>
				<img class=photo part=photo loading=lazy>
			</a>
			<span class=name part=name></span>
			<span class=months part=months></span>
		</div>
		<div class=body part=message></div>
	</div>
</template>
<template id=paid_message>
	<div class=superchat>
		<div class=header>
			<a href target=_blank>
				<img class=photo part=photo loading=lazy>
			</a>
			<span class=name part=name></span>
			<span class=amount part=amount></span>
		</div>
		<div class=body part=message></div>
	</div>
</template>
<template id=paid_sticker>
	<div class=supersticker>
		<div class=header>
			<a href target=_blank>
				<img class=photo part=photo loading=lazy>
			</a>
			<span class=name part=name></span>
			<span class=amount part=amount></span>
		</div>
		<figure class=body part=sticker>
			<img class=sticker loading=lazy>
		</figure>
	</div>
</template>
<template id=gift>
	<div class="membership gift">
		<div class=header>
			<a href target=_blank>
				<img class=photo part=photo loading=lazy>
			</a>
			<span class=name part=name></span>
			<span class=gifts part=gifts></span>
		</div>
	</div>
</template>
<template id=poll>
	<div class=engagement-poll>
		<div class=body part=message></div>
	</div>
</template>