:root {
	--yt-lcf-checkbox-unchecked-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11"%3E%3Cpath d="M1.5,0.5h8q1,0,1,1v8q0,1,-1,1h-8q-1,0,-1,-1v-8q0,-1,1,-1z" fill="none" stroke="currentColor"/%3E%3C/svg%3E');
	--yt-lcf-checkbox-checked-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11"%3E%3Cpath d="M1.5,0.5h8q1,0,1,1v8q0,1,-1,1h-8q-1,0,-1,-1v-8q0,-1,1,-1z" fill="none" stroke="currentColor"/%3E%3Cpath d="M2.5,6l2,2,4,-5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/%3E%3C/svg%3E');
	--yt-lcf-red-dot-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"><circle r="3" fill="rgba(225,0,45,0.9)"/></svg>');
}

.html5-video-player {
	font-family: inherit !important;
}
#yt-lcf-layer {
	--yt-lcf-animation-duration: 8s;
	--yt-lcf-font-size: 32px;
	--yt-lcf-line-height: 1.25;
	--yt-lcf-font-family: inherit;
	--yt-lcf-font-weight: 500;
	--yt-lcf-stroke-color: #000;
	--yt-lcf-stroke-offset: 1px;
	--yt-lcf-stroke-blur: 0px;
	--yt-lcf-layer-opacity: 1;
	--yt-lcf-background-opacity: .5;
	--yt-lcf-max-width: 100%;
	--yt-lcf-message-hyphens: auto;
	--yt-lcf-message-word-break: break-all;
	--yt-lcf-message-white-space: pre-line;
	--yt-lcf-sticker-size: 3em;
	--yt-lcf-normal-color: inherit;
	--yt-lcf-normal-display: block;
	--yt-lcf-normal-display-photo: none;
	--yt-lcf-normal-display-name: none;
	--yt-lcf-normal-display-message: inline;
	--yt-lcf-member-color: var(--yt-live-chat-sponsor-color);
	--yt-lcf-member-display: block;
	--yt-lcf-member-display-photo: none;
	--yt-lcf-member-display-name: none;
	--yt-lcf-member-display-message: inline;
	--yt-lcf-moderator-color: var(--yt-live-chat-moderator-color);
	--yt-lcf-moderator-display: block;
	--yt-lcf-moderator-display-photo: inline;
	--yt-lcf-moderator-display-name: inline;
	--yt-lcf-moderator-display-message: inline;
	--yt-lcf-owner-color: var(--yt-live-chat-owner-color);
	--yt-lcf-owner-display: block;
	--yt-lcf-owner-display-photo: inline;
	--yt-lcf-owner-display-name: inline;
	--yt-lcf-owner-display-message: inline;
	--yt-lcf-verified-color: var(--yt-live-chat-author-chip-verified-background-color);
	--yt-lcf-verified-display: block;
	--yt-lcf-verified-display-photo: inline;
	--yt-lcf-verified-display-name: inline;
	--yt-lcf-verified-display-message: inline;
	--yt-lcf-you-color: var(--yt-live-chat-mention-background-color);
	--yt-lcf-you-display: block;
	--yt-lcf-you-display-photo: none;
	--yt-lcf-you-display-name: none;
	--yt-lcf-you-display-message: inline;
	--yt-lcf-paid-message-display: block;
	--yt-lcf-paid-message-display-photo: initial;
	--yt-lcf-paid-message-display-name: initial;
	--yt-lcf-paid-message-display-amount: initial;
	--yt-lcf-paid-message-display-message: initial;
	--yt-lcf-paid-sticker-display: block;
	--yt-lcf-paid-sticker-display-photo: initial;
	--yt-lcf-paid-sticker-display-name: initial;
	--yt-lcf-paid-sticker-display-amount: initial;
	--yt-lcf-paid-sticker-display-sticker: initial;
	--yt-lcf-new-membership-display: block;
	--yt-lcf-new-membership-display-photo: initial;
	--yt-lcf-new-membership-display-name: initial;
	--yt-lcf-new-membership-display-message: initial;
	--yt-lcf-milestone-display: block;
	--yt-lcf-milestone-display-photo: initial;
	--yt-lcf-milestone-display-name: initial;
	--yt-lcf-milestone-display-months: initial;
	--yt-lcf-milestone-display-message: initial;
	--yt-lcf-animation-play-state: running;
	box-sizing: border-box;
	color: #fff;
	contain: strict;
	font-size: var(--yt-lcf-font-size);
	font-family: var(--yt-lcf-font-family);
	font-weight: var(--yt-lcf-font-weight);
	height: 100%;
	line-height: 1.25;
	max-height: 100%;
	max-width: 100%;
	opacity: var(--yt-lcf-layer-opacity);
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	resize: none;
	white-space: pre;
	width: 100%;
	z-index: 12;
}
.html5-video-player.unstarted-mode > #yt-lcf-layer,
.html5-video-player.ended-mode > #yt-lcf-layer {
	z-index: 25;
}
.paused-mode > #yt-lcf-layer {
	--yt-lcf-animation-play-state: paused;
}
#yt-lcf-layer.resize-mode {
	background: rgba(255, 255, 255, .1);
	border: thick dashed var(--accent-color, currentColor);
	display: block !important;
	pointer-events: auto;
	resize: both;
	z-index: 1024;
	&::before {
		content: "Press Enter key to apply changes.\0aPress Esc key to cancel.";
		cursor: move;
		position: absolute;
		text-align: center;
		text-shadow: 
		var(--yt-lcf-stroke-color) calc(var(--yt-lcf-stroke-offset) * -1) calc(var(--yt-lcf-stroke-offset) * -1) var(--yt-lcf-stroke-blur),
		var(--yt-lcf-stroke-color) calc(var(--yt-lcf-stroke-offset) * -1) 0 var(--yt-lcf-stroke-blur),
		var(--yt-lcf-stroke-color) calc(var(--yt-lcf-stroke-offset) * -1) var(--yt-lcf-stroke-offset) var(--yt-lcf-stroke-blur),
		var(--yt-lcf-stroke-color) 0 calc(var(--yt-lcf-stroke-offset) * -1) var(--yt-lcf-stroke-blur),
		var(--yt-lcf-stroke-color) 0 var(--yt-lcf-stroke-offset) var(--yt-lcf-stroke-blur),
		var(--yt-lcf-stroke-color) var(--yt-lcf-stroke-offset) calc(var(--yt-lcf-stroke-offset) * -1) var(--yt-lcf-stroke-blur),
		var(--yt-lcf-stroke-color) var(--yt-lcf-stroke-offset) 0 var(--yt-lcf-stroke-blur),
		var(--yt-lcf-stroke-color) var(--yt-lcf-stroke-offset) var(--yt-lcf-stroke-offset) var(--yt-lcf-stroke-blur);
		top: calc(50% - 1em);
		white-space: pre-line;
		width: 100%;
	}
	&:lang(ja)::before {
		content: "変更を適用するにはEnterキーを押してください\0aキャンセルするにはEscキーを押してください";
	}
}

/*
	Config panel
*/
#yt-lcf-panel {
	background: transparent;
	max-height: calc(100% - 20px);
	max-width: calc(100% - 20px);
	user-select: none;
	[data-browser="chrome"] & {
		overflow: hidden auto;
	}
	[data-browser="firefox"] & {
		overflow: scroll;
		scrollbar-width: none;
	}
	&:active {
		will-change: left, top;
	}
	.ytp-sfn-close {
		background: rgba(28, 28, 28, .8);
	}
	[role="tablist"] {
		display: flex;
		padding: 0 8px;
	}
	[role="tab"] {
		background: rgba(28, 28, 28, .8);
		border: 1px solid;
		border-radius: 1em 1em 0 0;
		padding: 8px 8px 7px;
		&[aria-selected="true"] {
			border-bottom-color: transparent;
		}
	}
	:disabled, :disabled + span {
		opacity: .4;
	}
	.ytp-sfn-content {
		background: rgba(28, 28, 28, .8);
		> div {
			margin: .5em 0;
			> div {
				padding: 0 .25em;
				margin: 0 .25em;
				text-align: start;
				vertical-align: middle;
				white-space: nowrap;
				&:first-child {
					text-align: end;
				}
				&[data-i18n], [data-i18n] {
					text-wrap: nowrap;
					white-space-collapse: preserve-breaks;
				}
			}
		}
	}
	label {
		cursor: pointer;
		&.toggle {
			display: inline-block;
			vertical-align: middle;
			> input[type="checkbox"] {
				display: none;
				& + * {
					opacity: .4;
				}
				&:checked + * {
					opacity: 1;
				}
			}
			+ br {
				margin-bottom: 0;
			}
		}
	}
	:disabled, :disabled + span {
		opacity: .4;
	}
	.photo > svg {
		height: 2em;
		width: 2em;
		vertical-align: -.5em;
		* {
			fill: none;
			stroke: currentColor;
		}
	}
	input {
		color: inherit;
		font: inherit;
		&[type="checkbox"] {
			appearance: none;
			background-color: currentColor;
			height: 1.25em;
			margin: 0 .25em;
			mask: var(--yt-lcf-checkbox-unchecked-mask-image) no-repeat center/1.25em;
			vertical-align: -.25em;
			width: 1.25em;
			&:checked {
				mask-image: var(--yt-lcf-checkbox-checked-mask-image);
			}
		}
		&[type="number"] {
			background-color: inherit;
			border: 1px solid currentColor;
			border-radius: 2px;
			margin: 0 .25em;
			padding: 2px 0 2px .25em;
		}
		&[type="range"] {
			appearance: none;
			background-color: var(--yt-spec-static-brand-red, red);
			height: 3px;
			vertical-align: middle;
			&::-webkit-slider-thumb {
				appearance: none;
				background-color: var(--yt-spec-static-brand-white, white);
				border: 0;
				border-radius: 50%;
				box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .6);
				height: 1em;
				width: 1em;
			}
			&::-moz-range-thumb {
				background-color: var(--yt-spec-static-brand-white, white);
				border: 0;
				box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .6);
			}
		}
		&[type="color"] {
			appearance: none;
			padding: 0;
			height: 1.5em;
			width: 2em;
			[data-browser="firefox"] & {
				border: 1px outset currentColor;
				width: 1.5em;
				vertical-align: -.25em;
			}
		}
		&:not([type="number"]):enabled {
			cursor: pointer;
		}
		&:invalid {
			box-shadow: 0 0 1px 1px var(--yt-spec-static-brand-red, red);
		}
		&[name^="hotkey"] {
			text-align: center;
		}
		[data-browser="chrome"] & {
			&[type="text"][size="3"] {
				width: 2em;
			}
		}
		&[data-size="3"] {
			width: 4em;
		}
		&[data-size="5"] {
			width: 5em;
		}
		&[data-size="8"] {
			width: 7em;
		}
	}
	select {
		appearance: none;
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid currentColor;
		filter: invert(1);
		font: inherit;
		padding: 2px;
		&:enabled {
			cursor: pointer;
		}
	}
	input[type="text"], input[type="url"], textarea {
		background-color: inherit;
		border: 1px solid currentColor;
		border-radius: 2px;
		cursor: text !important;
		font-family: inherit;
		font-size: inherit;
		margin: 0 .25em;
		padding: 2px;
	}
	textarea {
		appearance: none;
		background-color: transparent;
		color: inherit;
		resize: vertical;
	}
	input[data-lang], textarea[data-lang] {
		font-family: Consolas, 'Courier New', monospace;
	}
	details input[type="text"] {
		margin: 2px 0 0 -1px;
		width: 100%;
	}
	br {
		content: '';
		margin-bottom: .5em;
		[data-browser="chrome"] & {
			display: block;
		}
	}
	hr {
		border-bottom: thin solid;
		margin: 1em 0;
	}
	dialog {
		border: none;
		&::backdrop {
			background: rgba(0, 0, 0, .6);
		}
		ol {
			margin-left: 1.5em;
		}
		.ytp-sfn-content {
			background: transparent;
		}
	}
	button[id|="ytlcf-config"] {
		display: inline-flex;
	}
}
#yt-lcf-panel-tabpanel-1, #ytlcf-dialog-user_css_helper > form {
	> div {
		display: flex;
		> :first-child {
			line-height: 20px;
		}
		> :last-child {
			flex-grow: 1;
			width: auto;
			> :first-child {
				display: flex;
				align-items: baseline;
				justify-content: space-between;
				> :last-child::before {
					content: '/';
				}
			}
		}
	}
	label {
		padding: 0 .5em 0 .25em;
	}
	div {
		&.outlined, &.superchat {
			outline: 1px solid;
			border-radius: .5em;
		}
		input[name$="_css"] {
			margin: .25em 0;
			width: 20.5em;
		}
	}
}

#ytlcf-dialog-user_css_helper {
	textarea, input[type="text"] {
		[data-browser="chrome"] & {
			width: -webkit-fill-available;
		}
		[data-browser="firefox"] & {
			width: -moz-available;
		}
	}
}

/*
	Settings button
*/
.ytp-settings-menu:has(#yt-lcf-cb[aria-checked="true"]) ~ .ytp-chrome-bottom .ytp-settings-button {
	background: var(--yt-lcf-red-dot-image) no-repeat 20% 20%/8px;
}
#yt-lcf-cb[aria-checked="true"] > .ytp-menuitem-icon {
	background: var(--yt-lcf-red-dot-image) no-repeat 10% 25%/8px;
}

/*
	PiP
*/
#yt-lcf-pip-marker {
	position: absolute;
	top: 12px;
	left: 12px;
	font-size: 2em;
	color: var(--yt-spec-text-primary);
}
:fullscreen #yt-lcf-pp {
	display: none;
}

/*
	Context menu
*/
#yt-lcf-contextmenu {
	white-space: nowrap;
}