.html5-video-player {
	font-family: inherit !important;
}
#yt-lcf-layer {
	--yt-lcf-animation-duration: 8s;
	--yt-lcf-font-size: 32px;
	--yt-lcf-line-height: 1.25;
	--yt-lcf-font-family: inherit;
	--yt-lcf-font-weight: 500;
	--yt-lcf-stroke-color: #000;
	--yt-lcf-stroke-offset: 1px;
	--yt-lcf-stroke-blur: 0px;
	--yt-lcf-layer-opacity: 1;
	--yt-lcf-background-opacity: .5;
	--yt-lcf-max-width: 100%;
	--yt-lcf-message-hyphens: auto;
	--yt-lcf-message-word-break: break-all;
	--yt-lcf-message-white-space: pre-line;
	--yt-lcf-sticker-size: 3em;
	--yt-lcf-normal-color: inherit;
	--yt-lcf-normal-display: block;
	--yt-lcf-normal-display-photo: none;
	--yt-lcf-normal-display-name: none;
	--yt-lcf-normal-display-message: inline;
	--yt-lcf-member-color: var(--yt-live-chat-sponsor-color);
	--yt-lcf-member-display: block;
	--yt-lcf-member-display-photo: none;
	--yt-lcf-member-display-name: none;
	--yt-lcf-member-display-message: inline;
	--yt-lcf-moderator-color: var(--yt-live-chat-moderator-color);
	--yt-lcf-moderator-display: block;
	--yt-lcf-moderator-display-photo: inline;
	--yt-lcf-moderator-display-name: inline;
	--yt-lcf-moderator-display-message: inline;
	--yt-lcf-owner-color: var(--yt-live-chat-owner-color);
	--yt-lcf-owner-display: block;
	--yt-lcf-owner-display-photo: inline;
	--yt-lcf-owner-display-name: inline;
	--yt-lcf-owner-display-message: inline;
	--yt-lcf-verified-color: var(--yt-live-chat-author-chip-verified-background-color);
	--yt-lcf-verified-display: block;
	--yt-lcf-verified-display-photo: inline;
	--yt-lcf-verified-display-name: inline;
	--yt-lcf-verified-display-message: inline;
	--yt-lcf-you-color: var(--yt-live-chat-mention-background-color);
	--yt-lcf-you-display: block;
	--yt-lcf-you-display-photo: none;
	--yt-lcf-you-display-name: none;
	--yt-lcf-you-display-message: inline;
	--yt-lcf-paid-message-display: block;
	--yt-lcf-paid-message-display-photo: initial;
	--yt-lcf-paid-message-display-name: initial;
	--yt-lcf-paid-message-display-amount: initial;
	--yt-lcf-paid-message-display-message: initial;
	--yt-lcf-paid-sticker-display: block;
	--yt-lcf-paid-sticker-display-photo: initial;
	--yt-lcf-paid-sticker-display-name: initial;
	--yt-lcf-paid-sticker-display-amount: initial;
	--yt-lcf-paid-sticker-display-sticker: initial;
	--yt-lcf-new-membership-display: block;
	--yt-lcf-new-membership-display-photo: initial;
	--yt-lcf-new-membership-display-name: initial;
	--yt-lcf-new-membership-display-message: initial;
	--yt-lcf-milestone-display: block;
	--yt-lcf-milestone-display-photo: initial;
	--yt-lcf-milestone-display-name: initial;
	--yt-lcf-milestone-display-months: initial;
	--yt-lcf-milestone-display-message: initial;
	--yt-lcf-animation-play-state: running;
	color: #fff;
	contain: strict;
	font-size: var(--yt-lcf-font-size);
	font-family: var(--yt-lcf-font-family);
	font-weight: var(--yt-lcf-font-weight);
	height: 100%;
	line-height: 1.25;
	opacity: var(--yt-lcf-layer-opacity);
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	white-space: pre;
	width: 100%;
	z-index: 12;
}
.html5-video-player.unstarted-mode > #yt-lcf-layer,
.html5-video-player.ended-mode > #yt-lcf-layer {
	z-index: 25;
}
.paused-mode > #yt-lcf-layer {
	--yt-lcf-animation-play-state: paused;
}

/*
	Config panel
*/
#yt-lcf-panel {
	background: transparent;
	max-height: calc(100% - 20px);
	max-width: calc(100% - 20px);
	overflow: hidden auto;
	user-select: none;
}
#yt-lcf-panel:active {
	will-change: left, top;
}
#yt-lcf-panel .ytp-sfn-close {
	background: rgba(28, 28, 28, .8);
}
#yt-lcf-panel [role="tablist"] {
	padding: 0 8px;
}
#yt-lcf-panel [role="tab"] {
	background: rgba(28, 28, 28, .8);
	border: 1px solid;
	border-radius: 1em 1em 0 0;
	padding: 8px 8px 7px;
}
#yt-lcf-panel [role="tab"][aria-selected="true"] {
	border-bottom-color: transparent;
}
#yt-lcf-panel .ytp-sfn-content {
	background: rgba(28, 28, 28, .8);
}
#yt-lcf-panel .ytp-sfn-content > div {
		margin: .5em 0;
}
#yt-lcf-panel .ytp-sfn-content > div > div {
	padding: 0 .25em;
	margin: 0 .25em;
	text-align: start;
	vertical-align: middle;
	white-space: nowrap;
}
#yt-lcf-panel-tabpanel-1 > div {
	display: flex;
}
#yt-lcf-panel-tabpanel-1 > div > :first-child {
	line-height: 20px;
}
#yt-lcf-panel-tabpanel-1 > div > :last-child {
	flex-grow: 1;
	width: auto;
}
#yt-lcf-panel-tabpanel-1 label {
	padding: 0 .5em 0 .25em;
}
#yt-lcf-panel-tabpanel-1 > div > :last-child > :first-child {
	display: flex;
	justify-content: space-between;
}
#yt-lcf-panel-tabpanel-1 > div > :last-child > :first-child > :last-child::before {
	content: '/';
}
#yt-lcf-panel-tabpanel-1 div input[name$="_css"] {
	margin: .25em 0;
	width: 20.5em;
}
#yt-lcf-panel .ytp-sfn-content > div > div:first-child {
	text-align: end;
}
#yt-lcf-panel-tabpanel-1 div.outlined,
#yt-lcf-panel-tabpanel-1 div.superchat {
	outline: 1px solid;
	border-radius: .5em;
}
#yt-lcf-panel label {
	cursor: pointer;
}
#yt-lcf-panel label.toggle {
	display: inline-block;
	vertical-align: middle;
}
#yt-lcf-panel label.toggle > input[type="checkbox"] {
	display: none;
}
#yt-lcf-panel :disabled,
#yt-lcf-panel :disabled + span,
#yt-lcf-panel label.toggle > input[type="checkbox"] + * {
	opacity: .4;
}
#yt-lcf-panel label.toggle > input[type="checkbox"]:checked + * {
	opacity: 1;
}
#yt-lcf-panel .photo > svg {
	height: 2em;
	width: 2em;
	vertical-align: -.5em;
}
#yt-lcf-panel .photo > svg * {
	fill: none;
	stroke: currentColor;
}
#yt-lcf-panel input {
	color: inherit;
	font: inherit;
}
#yt-lcf-panel input[type="checkbox"] {
	appearance: none;
	background-color: currentColor;
	height: 1.25em;
	margin: 0 .25em;
	-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath d='M1.5,0.5h8q1,0,1,1v8q0,1,-1,1h-8q-1,0,-1,-1v-8q0,-1,1,-1z' fill='none' stroke='currentColor' /%3E%3C/svg%3E") no-repeat center/1.25em;
	vertical-align: -.25em;
	width: 1.25em;
}
#yt-lcf-panel input[type="checkbox"]:checked {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath d='M1.5,0.5h8q1,0,1,1v8q0,1,-1,1h-8q-1,0,-1,-1v-8q0,-1,1,-1z' fill='none' stroke='currentColor' /%3E%3Cpath d='M2.5,6l2,2,4,-5' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' /%3E%3C/svg%3E");
}
#yt-lcf-panel input[type="number"] {
	background-color: inherit;
	border: 1px solid currentColor;
	border-radius: 2px;
	margin: 0 .25em;
	padding: 2px 0 2px .25em;
}
#yt-lcf-panel input[type="range"] {
	appearance: none;
	background-color: var(--yt-spec-static-brand-red, red);
	height: 3px;
	vertical-align: middle;
}
#yt-lcf-panel input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	background-color: var(--yt-spec-static-brand-white, white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .6);
	height: 1em;
	width: 1em;
}
#yt-lcf-panel select {
	appearance: none;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid currentColor;
	filter: invert(1);
	font: inherit;
	padding: 2px;
}
#yt-lcf-panel input[type="color"] {
	appearance: none;
	padding: 0;
	height: 1.5em;
	width: 2em;
}
#yt-lcf-panel input:not([type="number"]):enabled,
#yt-lcf-panel select:enabled {
	cursor: pointer;
}
#yt-lcf-panel input[type="text"],
#yt-lcf-panel textarea {
	background-color: inherit;
	border: 1px solid currentColor;
	border-radius: 2px;
	cursor: text !important;
	font-family: inherit;
	font-size: inherit;
	margin: 0 .25em;
	padding: 2px;
}
#yt-lcf-panel textarea {
	appearance: none;
	background-color: transparent;
	color: inherit;
	resize: vertical;
}
#yt-lcf-panel details input[type="text"] {
	margin: 2px 0 0 -1px;
	width: 100%;
}
#yt-lcf-panel input:invalid {
	box-shadow: 0 0 1px 1px var(--yt-spec-static-brand-red, red);
}
#yt-lcf-panel input[name^="hotkey"] {
	text-align: center;
}
#yt-lcf-panel input[size="3"] {
	width: 2em;
}
#yt-lcf-panel input[size="5"] {
	width: 4em;
}
#yt-lcf-panel input[size="8"] {
	width: 7em;
}

#yt-lcf-panel br {
	content: '';
	display: block;
	height: .5ex;
}

#yt-lcf-panel dialog {
	border: none;
}
#yt-lcf-panel dialog::backdrop {
	background: rgba(0, 0, 0, .6);
}
#yt-lcf-panel dialog ol {
	margin-left: 1.5em;
}

/*
	Chat frame
*/
yt-live-chat-item-list-renderer #item-scroller {
	scrollbar-width: none;
}
yt-live-chat-item-list-renderer #item-scroller:hover {
	scrollbar-width: auto;
}

/*
	PiP
*/
#yt-lcf-pip-marker {
	position: absolute;
	top: 12px;
	left: 12px;
	font-size: 2em;
	color: var(--yt-spec-text-primary);
}